params {
    snv_vcf_path = '/path/to/vcfs/*.vcf.gz'
    sv_vcf_path = '/path/to/vcfs/*.vcf.gz'
    beagle = '/home/sayahian/projects/def-vmooser/sayahian/beagle/beagle.19Mar22.0da.jar' 
}

process {
        executor = "slurm"
        clusterOptions = "--account=rrg-vmooser"
        cpus = 8
        time = "10h"
        memory = "32G"
}

executor {
        $slurm {
                queueSize = 100
                jobName = { "CARTaGENE_phasing" }
                }
        $local {
                cpus = 1
        }
}
